@page "/flashcards/edit"
<form>
    <div class="form-group">
        <label for="flashCardId">Id</label>
        <input type="text" class="form-control" id="flashCardId" aria-describedby="idHelp" placeholder="New">
        <small id="idHelp" class="form-text text-muted">Leave this empty to have a guid automatically assigned</small>
        </div>
    <div class="form-group">
        <label for="flashCardName">Name</label>
        <input type="text" class="form-control" id="flashCardName" aria-describedby="nameHelp" placeholder="Enter name">
        <small id="nameHelp" class="form-text text-muted">Enter the Name or Question</small>
    </div>
    <div class="form-group">
        <label for="flashCardType">Type</label>
        <select class="form-control" id="flashCardType" aria-describedby="typeHelp">
            <option value="Design Patterns">Design Patterns</option>
            <option value="Architectural Patterns">Architectural Patterns</option>
            <option value="Principles">Principles</option>
            <option value="Acronyms">Acronyms</option>
        </select>
        <small id="typeHelp" class="form-text text-muted">Type or main category</small>
    </div>
    <div class="form-group">
        <label>Categories</label>
        <div class="form-check">
            <input type="checkbox" class="form-check-input cmbflashCardCategories" id="flashCardCategories_1">
            <label class="form-check-label" for="flashCardCategories_1">Creational Design Patterns</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input cmbflashCardCategories" id="flashCardCategories_2">
            <label class="form-check-label" for="flashCardCategories_2">Structural Design Patterns</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input cmbflashCardCategories" id="flashCardCategories_3">
            <label class="form-check-label" for="flashCardCategories_3">Behavioral Design Patterns</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input cmbflashCardCategories" id="flashCardCategories_4">
            <label class="form-check-label" for="flashCardCategories_4">Core First Design Patterns</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input cmbflashCardCategories" id="flashCardCategories_5">
            <label class="form-check-label" for="flashCardCategories_5">Architectural Patterns</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input cmbflashCardCategories" id="flashCardCategories_6">
            <label class="form-check-label" for="flashCardCategories_6">Cloud Architectural Patterns</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input cmbflashCardCategories" id="flashCardCategories_7">
            <label class="form-check-label" for="flashCardCategories_7">Acronyms</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input cmbflashCardCategories" id="flashCardCategories_8">
            <label class="form-check-label" for="flashCardCategories_8">Database</label>
        </div>
    </div>
    <div class="form-group">
        <label for="flashCardDescription">Description</label>
        <textarea class="form-control" id="flashCardDescription" rows="3" aria-describedby="descriptionHelp"></textarea>
        <small id="typeHelp" class="form-text text-muted">Enter the description or definition (255 characters max)</small>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>